<div class="wrapper">
<!-- sidebar -->
 <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
            <div class="logo">
                <a href="#/teacher/" class="simple-text">
                    RTVC Teacher Panel
                </a>
            </div>


            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li ng-class="{ active: isActive('#/teacher/home')}">
                        <a href="#/teacher/home">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="#/teacher/profile">
                            <i class="material-icons">person</i>
                            <p>Profile</p>
                        </a>
                    </li>
                    <li ng-class="{ active: isActive('#/teacher/students')}">
                        <a href="#/teacher/students">
                            <i class="material-icons">library_books</i>
                            <p>Students</p>
                        </a>
                    </li>
                   
                    
                    <li>
                        <a href="#/teacher/invites">
                            <i class="material-icons">bubble_chart</i>
                            <p>Invites</p>
                        </a>
                    </li>

                    <li>
                        <a href="#/teacher/test_teacher">
                            <i class="material-icons">lightbulb_outline</i>
                            <p>Teacher RTVC</p>
                        </a>
                    </li>
                 
                   
                </ul>
            </div>
</div>

<style>
video{
    width:390px;
    height: 390px;
}

</style>
        <section class="main-panel text-center">
            <div class="make-center">
                <h2>TEACHER </h2>
             <input  type="text" ng-model="roomId" value="testing">
             <button class="btn btn-primary" ng-disabled="openRoomBtn" ng-click="openRoom()">Open Room</button>
             <button class="btn btn-danger" ng-disabled="!openRoomBtn" ng-click="leaveRoom()">Leave room </button>
              <button class="btn btn-danger" ng-disabled="!openRoomBtn" ng-click="replaceScreen()">Enable screen </button>
            
<div class="row">
    <div class="col-md-6">
    <h2>LOCAL</h2>
            <div id="local-container"></div>
    </div>
    <div class="col-md-6">
    <h2>REMOTE</h2>
            <div id="remote-container"></div>
    </div>
</div>

            <div ng-model="audiosContainer"></div>
        </section>


      
